 
{% extends 'admin/master.html' %}
{% block body %}
<script src="{{ url_for('static', filename='lib/jquery/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='lib/mediaelement/build/mediaelement-and-player.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/mediaelement/build/mediaelementplayer.min.css') }}" />

<script src="{{ url_for('static', filename='lib/mediaelement-plugins/dist/markers/markers.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/mediaelement-plugins/dist/speed/speed.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/mediaelement-plugins/dist/speed/speed.min.css') }}" />
<script src="{{ url_for('static', filename='lib/mediaelement-plugins/dist/jump-forward/jump-forward.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/mediaelement-plugins/dist/jump-forward/jump-forward.min.css') }}" />
<script src="{{ url_for('static', filename='lib/mediaelement-plugins/dist/skip-back/skip-back.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/mediaelement-plugins/dist/skip-back/skip-back.min.css') }}" />
<script src="{{ url_for('static', filename='lib/VideoContext/docs/dist/videocontext.js') }}"></script>
<script src="{{ url_for('static', filename='lib/VideoContext/docs/js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='lib/vue/dist/vue.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/event_cut.js') }}"></script> -->
<style>
</style>
{{ super() }}
<div id="cutter-container">
    <div class="row" >
        <div class="col-sm-10">
            <p class="lead">{{ event }}</p>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-film" aria-hidden="true"> Cut
                    </a>
                </li>
                <li role="presentation" style="display:none">
                    <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"> Preview / 
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save
                    </a>
                </li>
                <li role="presentation">
                    <a href="#debug" aria-controls="debug" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-console" aria-hidden="true"> Debug
                    </a>
                </li>
            </ul>
        </div>
{% raw %}
    <div class="tab-content">
        <div role="tabpanel"  id="edit" class="col-sm-8 tab-pane active">
            <div style="width: 100%; display: block">
                <video style="max-width: 100%;" id='mediaplayer' controls="controls" preload="none" ></video>
            </div>
            <p>
                <div class="panel">
                    <p>
                        <div class="progress" style="border-radius: 2px">
                            <div v-if="active_segment" class="progress-bar progress-bar-warning" role="progressbar" v-bind:style="{ width: 98.4*(active_segment.start/active_segment.videofile.length) + '%' }">{{ active_segment.start.toFixed(2)  }}s</div>
                            <a @click="playerSeek(active_segment.start - 3)" v-if="active_segment" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0.8%; cursor: pointer"></a>
                            <div v-if="active_segment" class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: 98.4*(active_segment.length/active_segment.videofile.length) + '%' }">{{ active_segment.length.toFixed(2)  }}s</div>
                            <a @click="playerSeek(active_segment.start + active_segment.length - 3)" v-if="active_segment" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0.8%; cursor: pointer"></a>
                            <div v-if="active_segment" class="progress-bar progress-bar-warning" role="progressbar" v-bind:style="{ width: 98.4*((active_segment.videofile.length-active_segment.start-active_segment.length)/active_segment.videofile.length) + '%' }"></div>
                        </div>
                    </p>
                    <div class="panel-heading"  v-if="active_segment && active_segment.videofile.type == 'footage'">
                        <div class="panel-title"><b>current position:</b>
                            <button type="button" class="btn btn-success"  @click="setSegmentStart"><span class="glyphicon glyphicon-play" aria-hidden="true"> set Start (i)</button>
                            <button type="button" class="btn btn-success" @click="setSegmentStop"><span class="glyphicon glyphicon-stop" aria-hidden="true"> set End (o)</button>
                            <button type="button" class="btn btn-danger" @click="splitSegment"><span class="glyphicon glyphicon-pause" aria-hidden="true"> Split</button>
                        </div>
                        <hr />
                        <div class="panel-title"><b>video segment:</b>
                            <button type="button" class="btn btn-danger" @click="active_segment.start=0;active_segment.length=0" ><span class="glyphicon glyphicon-remove" aria-hidden="true"> Disable</button>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Comment: <input class="form-control" id="comment" name="comment" type="text" v-model="comment">
                        </div>
                    </div>
                    <div class="panel-heading">
                        <div class="panel-title"><b>has translation:</b>
                            <input id="translation" name="translation" type="checkbox" v-model="translation">&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" @click="saveSegments(true)">Save and Render</button>
                            <button type="button" class="btn btn-info" @click="saveSegments(false)">Save</button>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div role="tabpanel"  id="preview" class="col-sm-8 tab-pane">
            <canvas id="video-canvas" style="background-color: #f5f5f5; width: 100%"></canvas>
                <canvas id="visualisation-canvas" height="20" style="background-color: #f5f5f5; width: 100%"></canvas>
            <p>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="play-button"><span class="glyphicon glyphicon-play" aria-hidden="true"> Play</button>
                    <button type="button" class="btn btn-default" id="pause-button"><span class="glyphicon glyphicon-pause" aria-hidden="true"> Pause</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="play-button"><span class="glyphicon glyphicon-play" aria-hidden="true"> Prev</button>
                    <button type="button" class="btn btn-default" id="pause-button"><span class="glyphicon glyphicon-pause" aria-hidden="true"> Next</button>
                </div>
            </p>
        </div>

        <div role="tabpanel"  id="debug" class="col-sm-8 tab-pane">
{% endraw %}
<pre>
database segments:
{% for s in event.segments %}
{{ s.videofile.id }} {{ s.videofile.url }} {{ s.videofile.length }} - {{ s.segment_id }} {{ s.start }} {{ s.length }}{% endfor %}
</pre>
{% raw %}
        </div>
        <div class="col-sm-4" style="background-color: white;">
            <p class="lead">Video Segments</p>
            <table class="table table-hover table-striped small">
                <tbody>
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Start</th>
                            <th>Length</th>
                            <th>File Length</th>
                        </tr>
                    </thead>
                    <tr  v-for="item in segments"  v-bind:class="{ success: active_segment == item }" :key="item.segment_id">
                        <td>
                            <a v-if="item.videofile.type != 'footage'" v-on:click="active_segment = item"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            <a v-if="item.videofile.type == 'footage'" v-on:click="active_segment = item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        </td>
                        <td>{{ item.segment_id }}</td>
                        <td>{{ item.videofile.type }}</td>
                        <td>{{ item.start }}</td>
                        <td>{{ item.length }}</td>
                        <td>{{ item.videofile.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endraw %}

<script>

var cutter;
var player;

$(window).ready(function(){
   $('#video-canvas').height($('#video-canvas').width() * .562);
});
$(window).resize(function(){
   $('#video-canvas').height($('#video-canvas').width() * .562);
});


$(document).keydown(function(e) {
    if (e.target.type == 'text') {
        return;
    }
    console.log(e, e.which);
    switch(e.which) {
        case 73: // i
            cutter.setSegmentStart()
            break;
        case 79: // o
            cutter.setSegmentStop()
            break;
        case 80: // p
            break;
        case 83: // s
            cutter.splitSegment()
            break;
        case 32: // space
            if(player.paused == false)
                player.pause();
            else
                player.play();
            e.preventDefault();
            break;
        case 37: // left
            player.setCurrentTime(player.media.currentTime-0.04);
            e.preventDefault();
            break;
        case 39: // right
            player.setCurrentTime(player.media.currentTime+0.04);
            e.preventDefault();
            break;
        case 33: // page up
            player.setCurrentTime(player.media.currentTime-1.00);
            e.preventDefault();
            break;
        case 34: // page down
            player.setCurrentTime(player.media.currentTime+1.00);
            e.preventDefault();
            break;
    }
});

cutter = new Vue({
    el: '#cutter-container',
    data: {
        version: null,
        active_segment: null,
        segments: null,
        comment: null,
        translation: null,
    },
    watch: {
        segments: function (newval, oldval) {
            if(oldval == null) {
                for (var i = 0, total = newval.length; i < total; ++i) {
                    if (newval[i].videofile.type == 'footage') {
                        cutter.active_segment = newval[i];
                        break;
                    }
                }
            }
        },
        active_segment: function (newval, oldval) {
            if(newval != null) {
                this.mediaplayerUpdate(newval, oldval != newval);
            }
        },
    },
    methods: {
        saveSegments: function(render=false) {
            data = {'render': render,
                    'segments': this.segments,
                    'comment': this.comment,
                    'translation': this.translation,
            }
            $.ajax({
                type: "POST",
                url: "{{ get_url('.rest_segments') }}?id={{ event.id }}",
                data: JSON.stringify(data),
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: function(data) {
                    window.location = "{{ get_url('.index_view') }}"
                },
            });
        },
        setSegmentStart: function(event) {
            if(this.active_segment && this.active_segment.videofile.type == 'footage' ) {
                var end = this.active_segment.start + this.active_segment.length;
                if (player.media.currentTime < end) {
                    this.active_segment.start = player.media.currentTime;
                    this.active_segment.length = end - this.active_segment.start;
                    this.mediaplayerUpdate(this.active_segment);
                }
            }
        },
        setSegmentStop: function(event) {
            if(this.active_segment && this.active_segment.videofile.type == 'footage' && player.media.currentTime > this.active_segment.start) {
                this.active_segment.length = player.media.currentTime - this.active_segment.start;
                this.mediaplayerUpdate(this.active_segment);
            }
        },
        splitSegment: function(event) {
            if(!this.active_segment || this.active_segment.videofile.type != 'footage' || player.media.currentTime < this.active_segment.start ||
                player.media.currentTime > (this.active_segment.start + this.active_segment.length))
                    return;
            var i; var newsegment = Object.create(null);
            newsegment.videofile = this.active_segment.videofile;
            newsegment.videofile_id = this.active_segment.videofile_id;
            newsegment.transition = this.active_segment.transition;
            newsegment.start = player.media.currentTime;
            newsegment.length = this.active_segment.start + this.active_segment.length - player.media.currentTime;
            this.active_segment.length = player.media.currentTime - this.active_segment.start;

            for (i = 0, total = this.segments.length; i < total; ++i) {
                if (this.segments[i] == this.active_segment)
                    break;
            }
            this.segments.splice( i+1, 0, newsegment );
            for (i = 0, total = this.segments.length; i < total; ++i) {
                this.segments[i].segment_id = i;
            }
            this.active_segment = newsegment;
        },
        playerSeek: function(time) {
            if (time < 0)
                time = 0;
            player.setCurrentTime(time);
            player.play();
        },
        mediaplayerUpdate: function(segment, updatesrc = false) {
            player.options.markers = [segment.start, (segment.start + segment.length)];
            player.setmarkers(player.controls);
            if (updatesrc) {
                player.setSrc(segment.videofile.proxy_url);
                player.load();
                player.setCurrentTime(segment.start);
                player.play();
            }
        }
    }
})

$('#mediaplayer').mediaelementplayer({
    pluginPath: "{{ url_for('static', filename='lib/mediaelement-plugins/dist/') }}",
    features: ['playpause', 'current', 'progress', 'duration', 'skipback', 'jumpforward', 'tracks', 'speed', 'volume', 'markers'],
    alwaysShowControls: true,
    markerColor: '#E00000',
    markers: [0, 0],
    markerWidth: 2,
    speeds: ['10.0', '5.00', '2.50', '1.00', '0.50'],
    autoplay: false,
    controls: true,
    success: function(mediaElement, originalNode, instance) {
        player = instance;
    },
    markerCallback: function(media, time) {
        player.pause();
    }
});

$.getJSON( "{{ get_url('.rest_segments') }}?id={{ event.id }}", function( data ) {
    function sortSegments(a, b) {
        if (a.videofile.type == 'intro' || b.videofile.type == 'outro')
            return -1;
        if (a.videofile.type == 'outro' || b.videofile.type == 'intro')
            return 1;
        return a.segment_id - b.segment_id;
    }
    // sort and renumber segments
    segments = data.segments.sort(sortSegments)
    for (i = 0, total = segments.length; i < total; ++i) {
        segments[i].segment_id = i;
    }
    cutter.active_segment = null;
    cutter.segments = segments;
    cutter.comment = data.comment;
    cutter.version = data.version;
    cutter.translation = data.translation;
});

</script>
{% endblock body %}
